.sidebar .sidebar-scrollbox {
    padding: 25px;
}

.section {
    padding-left: 25px;
}

.hljs {
    padding: 20px;
}

pre {
    margin: 1rem 0;
    background: #f1f1f1;
    padding: 0.5rem;
}

code {
    background: #f1f1f1;
    padding: 0.2rem;
}

blockquote {
    background: none;
    border: none;
    border-left: 5px solid whitesmoke;
    font-style: italic;
    padding: 1rem 0;
    padding-left: 30px;
}

.mobile-nav-chapters {
    background: none;
}

h2, h3 {
    margin-top: 1.5em;
}

.menu-title {
    opacity: 0;
}
